html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5 {
  visibility: hidden; }

.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5 {
  visibility: visible; }

body {
  font-family: "freight-sans-pro", sans-serif;
  background: url(../images/headphones.jpg) no-repeat center center fixed;
  color: #333;
  text-align: center; }
  @media screen and (min-width: 58.75em) {
    body {
      text-align: left; } }

h1, h2, h3 {
  font-family: "alternate-gothic-no-2-d", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h1 {
  font-size: 40px;
  margin: 0 0 0.25em; }
  @media screen and (min-width: 48em) {
    h1 {
      font-size: 65px; } }
  @media screen and (min-width: 58.75em) {
    h1 {
      font-size: 105px; } }

p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 1em; }

a {
  color: #333; }

.wrapper {
  overflow: hidden;
  padding: 40px 40px; }

.inner-wrapper {
  overflow: hidden; }
  @media screen and (min-width: 87.5em) {
    .inner-wrapper {
      width: 60%;
      float: left; } }

@media screen and (min-width: 58.75em) {
  .container {
    width: 40%;
    float: left; } }

.button {
  background: red;
  padding: 20px;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin: 3em 0 0.25em;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase; }

#artist li {
  /*background: rgba(255,255,255,0.6);
  padding: 40px;*/ }
  #artist li a {
    text-decoration: none; }

.recommended {
  margin-top: 3em; }
  @media screen and (min-width: 58.75em) {
    .recommended {
      float: right;
      width: 50%;
      margin-left: 2em;
      margin-top: 0; } }

@media screen and (min-width: 64em) {
  .recommended div {
    float: left;
    width: 310px; } }

.recommended h2 {
  font-size: 35px;
  margin: 0 0 0.5em;
  text-transform: none; }

.recommended h3 {
  font-size: 50px;
  margin: 0 0 0.15em; }

.recommended p {
  font-size: 18px; }

footer {
  margin-top: 40px;
  border-top: 1px solid #000;
  padding: 20px;
  clear: both; }
  @media screen and (min-width: 87.5em) {
    footer {
      width: 20%;
      float: right;
      border-left: 1px solid #000;
      border-top: 0;
      margin-top: 0px;
      clear: none; } }

footer p {
  font-size: 16px; }

footer h4 {
  margin: 1.5em 0 0.5em 0;
  font-size: 20px;
  font-weight: 700; }

.headphones {
  display: block;
  margin: 0 auto 2em; }
  @media screen and (min-width: 58.75em) {
    .headphones {
      float: left;
      margin: 0 30px 100px 0; } }

.disclaimer {
  font-size: 14px; }

.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 2000ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1); }

  30% {
    -webkit-transform: scale(1); }

  40% {
    -webkit-transform: scale(1.08); }

  50% {
    -webkit-transform: scale(1); }

  60% {
    -webkit-transform: scale(1); }

  70% {
    -webkit-transform: scale(1.05); }

  80% {
    -webkit-transform: scale(1); }

  100% {
    -webkit-transform: scale(1); } }
